#welcome {
    color: white;
    padding: 10px;
    text-align: center;
}
.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    z-index: 1000; 
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust as needed */
    background-image: url('.jpg.jpeg');
    background-size: cover;
    z-index: 999;
}

#garbage {
    color: black;
}

#idk {
    color: white;
    padding: 10px;
    text-align: center;
}
.idk {
    margin-top: 69px;
}

#idk1 {
    color: white;
    padding: 10px;
    text-align: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}

@keyframes rainbow {
    0% { color: #ff0000; } 
    14% { color: #ff7f00; } 
    28% { color: #ffff00; } 
    42% { color: #00ff00; } 
    57% { color: #0000ff; } 
    71% { color: #4b0082; } 
    85% { color: #9400d3; } 
    100% { color: #ff0000; } 
}

.rainbow_text {
    animation: rainbow 5s infinite;
    display: inline-block;
    text-decoration: none;
}

#rainbow_text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    align-self: center;
}

#link {
    text-decoration: none;
}